Language:             Cpp
BasedOnStyle:         Google
ColumnLimit:          120
UseTab:               Never
IndentWidth:          4
AccessModifierOffset: -4

# Some folks prefer to write "int& foo" while others prefer "int &foo".  The
# Google Style Guide only asks for consistency within a project, we chose
# "int& foo" for this project:
DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Preserve